/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
   text-align: center;
 }
*, div.container {
  margin: 0;
  padding: 0;
}

* {
  font-family: Courier,"Courier New",monospace;
  font-size: 1em;
}

html {
  width: 100%;
  height: 100%;
}

body {
}

div.container {
  width: 100%;
  background: white;
}

nav#navbar-wrap {
  display: flex;
  align-items: center;
  border: 0;
}

a#resplash-home-img {
  float: left;
  padding: 0;
  padding-left: 10px;
}

#inner-tabs-wrap {
  display: flex;
  justify-content: center;
  float: none;
}

ul#navbar-inner-wrap, #search-bar-id {
    width: 100%;
}

.search-input {
  text-align: center;
  font-weight: bold;
}

.search-result-wrap {
  text-align: center;
}

.main-title {
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
  color: #111;
}

.main-phrase {
  text-align: center;
}

.main-link {
  color: #999;
  text-decoration: underline;
}

#normal-tab, #grid-tab {
  text-align: center;
  cursor: pointer;
}

#grid-tab {
  width: 28px;
  height: 31px;
  position: relative;
  top: 1.3px;
}
