// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic-index-wrap, .pic-index-item-wrap {
  width: 100%;
  align-items: center;
  // height: 100%;
}

.pic-index-item {
  width: 1176px;
  height: 784px;
}

.pic-index-item:hover {
  cursor: zoom-in;
}

.pic-index-item.hidden {
  overflow: hidden;
  position: fixed;
}

.pic-show-img {
  width: 100%;
  height: 100vh;
}

.pic-show-img:hover {
  cursor: zoom-out;
}

.pic-show-wrap {
  width: 100%;
  height: 100vh;
}

.pic-index-item-wrap {
  display: flex;
  flex-direction: column;
}

.user-show-link {
  display: inline;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  color: #999;
  margin-left: 10px;
}

.inner-user-wrap {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.user-img {
  display: inline;
}

.pic-index-item.grid {
  width: 375.95px;
  height: 251px;
  display: flex;
  flex-direction: row;
}

.pic-index-item-wrap.grid {
  width: 375.95px;
  float: left;
  margin: 13px;
  height: 251px;
}

.pic-index-ul.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tab-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.inner-index-wrap.grid {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
