<!DOCTYPE html>
<html>
  <head>
    <title>Unsplash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
     window.cloudinary_options = {
        cloud_name: "dllnnnotc",
        upload_preset: "adimteme"
      }
     </script>
  </head>

  <body>
    <script>
    $(document).ready(function() {
      $('#grid-tab').on("click", function() {
        $('.pic-index-ul').addClass("grid")
        $('.pic-index-item').addClass('grid')
        $('.pic-index-item-wrap').addClass('grid')
        $('.user-show-link, .user-img').hide()
        $('.inner-index-wrap').addClass('grid')
      })
      $('#normal-tab').on("click", function() {
        $('.pic-index-item').removeClass("grid")
        $('.pic-index-ul').removeClass("grid")
        $('.pic-index-item-wrap').removeClass('grid')
        $('.user-show-link, .user-img').show()
        $('.inner-index-wrap').removeClass('grid')
      })
    })
    </script>
    <%= yield %>
  </body>
</html>
